coverage==4.1
defusedxml==0.4.1
Django==1.8
django-bower==5.1.0
django-braces==1.8.1
djangorestframework==3.3.2
drf-nested-routers==0.11.1
gunicorn==19.4.3
mock==2.0.0
mysqlclient==1.3.7
oauthlib==1.0.3
Pillow==2.9.0
PyJWT==1.4.0
python-social-auth==0.2.14
python3-openid==3.0.10
pytz==2016.2
requests==2.9.1
requests-oauthlib==0.6.1
six==1.10.0
selenium==2.53.2
South==1.0.2
yahoo-finance==1.2.1