{% extends 'base_search.html' %}

{% block content %}

<div class="section toc_section">

        <h2>TERMS AND CONDITIONS</h2>

        <p>REVIEWTHESE TERMS AND CONDITIONS OF USE CAREFULLY BEFORE USING OR OBTAINING ANY MATERIALS,
            INFORMATION, PRODUCTS OR SERVICES THROUGH THIS SITE. valueInvestingExchange.com. ("we" or "us") offers access
            to and use of our site to you subject to your acceptance of these terms and conditions. By accessing,
            using or obtaining any content, data, materials, information, products or services through our site,
            you agree to observe these terms and conditions. If you do not accept all of these terms and conditions,
            then please leave our site now. </p>

        <h3>Ownership</h3>

        <p>valueInvestingExchange.com LLC. and/or its third party content providers ("Content Providers") owns and
            has copyrights on our site and all of its contents. Trademarks, logos and service marks displayed on
            our site are our registered and common law trademarks. Your use of and access to our site does not grant
            you any license or right to use any of the trademarks. You will not use any robot, spider, other automatic
            device, or manual process to monitor materials available through our site.

You will not copy, reproduce, republish, upload, post, transmit, distribute, sell, transfer or modify any of
            the content, data, information or materials found on our site without proper credit and links to GuruFocus.com. </p>


        <h3>Contributions</h3>

        <p>
            When republishing our posts, links or data you will not publish the complete data or the complete articles.
            You will republish only the first part or paragraph of the data and articles, and link to our site for the
            complete data, articles, or other information. Proper credit must be given to valueInvestingExchange.com where
            those data or articles are used.
        </p>

        <h3>Investment Risk</h3>

        <p>An investment in stocks could lose money over short or even long periods. You should expect stock prices
            and returns may have large range fluctuations. NO GURANTEE CAN BE MADE IF YOU INVEST BASED ON THE INFORMATION
            PROVIDED ON THIS WEBSITE.</p>

        <h3>Warranty Disclaimer</h3>

        <p>WE MAKE NO WARRANTY OF ANY KIND REGARDING OUR SITE AND/OR ANY CONTENT, DATA, MATERIALS, INFORMATION,
            PRODUCTS OR SERVICES PROVIDED ON OUR SITE, ALL OF WHICH ARE PROVIDED ON AN "AS IS" BASIS. WE EXPRESSLY
            DISCLAIM ANY REPRESENTATION OR WARRANTY THAT OUR SITE WILL BE ERROR-FREE, SECURE OR UNINTERRUPTED. WE
            FURTHER DISCLAIM ANY WARRANTY AS TO THE ACCURACY, COMPLETENESS AND TIMELINESS OF ANY CONTENT OR INFORMATION
            FOUND ON OUR SITE.</p>

        <h3>Liability Disclaimer </h3>

        <p>IN NO EVENT SHALL VALUEINVESTINGEXCHANGE.COM BE LIABLE FOR ANY INVESTMENT GAIN/LOSS YOU INCUR DURING YOUR INVESTMENT
            IN THE STOCK MARKET. INVESTING IN STOCKS IS RISKY. THE PAST PERFORMANCES OF ANY PERSON(S) DO NOT GUARANTEE
            THEIR FUTURE PERFORMANCES. IF YOU INVEST BASED ON THE INFORMATION PROVIDED AT THIS WEBSITE, IT MEANS THAT
            YOU ACCEPT THE TERMS AND CONDITIONS OF USING THIS WEBSITE. YOU ARE RESPONSIBLE FOR ANY OF YOUR OWN ACTIONS.
            FURTHERMORE, IN NO EVENT SHALL valueInvestingExchange.com LLC. BE LIABLE FOR (A) ANY DAMAGES TO OR VIRUSES THAT MAY INFECT
            YOUR COMPUTER EQUIPMENT OR OTHER PROPERTY AS THE RESULT OF YOUR ACCESS TO, USE OF OR BROWSING IN OUR SITE
            OR YOUR DOWNLOADING OF ANY CONTENT, INFORMATION, MATERIALS, DATA, TEXT OR IMAGES FROM OUR SITE OR (B) ANY
            INJURY, LOSS, CLAIM, DAMAGE, OR ANY SPECIAL, EXEMPLARY, PUNITIVE, INDIRECT, INCIDENTAL OR CONSEQUENTIAL
            DAMAGES OF ANY KIND (INCLUDING WITHOUT LIMITATION LOST PROFITS OR LOST SAVINGS), WHETHER BASED IN CONTRACT,
            TORT, STRICT LIABILITY OR OTHERWISE, THAT ARISES OUT OF OR IS IN ANY WAY CONNECTED WITH (I) ANY USE OF
            OUR SITE OR CONTENT, DATA, MATERIALS OR INFORMATION FOUND THEREIN, (II) ANY FAILURE OR DELAY IN USE OF
            OR INABILITY TO USE ANY COMPONENT OF THIS SITE, OR (III) THE PERFORMANCE OR NON-PERFORMANCE BY US OR ANY
            THIRD-PARTY PROVIDER TO OUR SITE, EVEN IF WE HAVE BEEN, OR A THIRD-PARTY PROVIDER HAS BEEN, ADVISED OF
            THE POSSIBILITY OF DAMAGES TO SUCH PARTIES OR ANY OTHER PARTY. </p>

</div>

{% endblock %}