{% extends 'base.html' %}

{% block content %}
    <div class="section login-section">
      <div class="container">
       <div class="row">
           <div class="well-welcome">
             <h1 class="color1 section-title">Welcome to the Value Investing Exchange, {{ new_user.first_name }}!</h1>
           <hr>
            <p>Your account has been successfully created. Now you can <a href="{% url 'accounts:login' %}">log in</a>.</p>
            </div>
           </div>
          </div>
        </div>

{% endblock %}