{% extends "base_search.html" %}

{% block content %}


<div id="searchbar">
                <div id="searchbarInner">
                        <form action="{% url 'companies:view_stock' symbol%}" method="POST" class="stockSearch">
                          <input type="hidden" name="next" value="{{ next }}"/>
                          <span><input type="submit" class="search-button" value="Submit"></span>
                            {{ form }}
                            {% csrf_token %}
                      </form>
                </div>
            </div>

<div class="container content_main_container">

        <div class="row">
			<div class="col-lg-12">
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <a href="{% url 'companies:search_home' %}" class="close">×</a>
                        <li class="{{ message.tags }}">
                            {{ message|safe }}

                        </li>
                    {% endfor %}
                </ul>
                </div>
            </div>
            {% endif %}
				<div class="well-stock-results">
				<div class="row ">
					<div class="col-md-12">
                        <div class="col-md-4 col-stock">
                            <div class="stock-profile"></div>
                        <h2>{{ stock.name}} </h2>

                            <h2>({{ stock.ticker }}) </h2>
                        <span class="stock-price">${{ price }}</span><span> {{ change}}</span>
                        <span> ({{changepercent|floatformat:2}}%)</span>
                                <h6 class="traded-in">Traded on : {{exchange}} </h6>
                            <img src="http://chart.finance.yahoo.com/t?s=SDRL&amp;lang=en-US&amp;region=US&amp;width=300&amp;height=180"
						 alt="SeaDrill Limited (SDRL)" width="330" height="300" class="stock-img">
                            </div>
                        <div class="col-md-4 col-results">
                            <h4>Fundamentals</h4><hr>
                             <table align="center">
                                    <tbody>
                                    <tr>
                                        <td class="stock-table-label">
                                            PE
                                        </td>
                                        <td class="stock-table-value">
                                            {{PE|floatformat:1 }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="stock-table-label">
                                            Market cap
                                        </td>
                                        <td class="stock-table-value">
                                            {{mktcap }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="stock-table-label">
                                            Dividend
                                        </td>
                                        <td class="stock-table-value">
                                            {{dividend}} ({{dividendYield}})
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="stock-table-label">
                                            Year Range
                                        </td>
                                        <td class="stock-table-value">
                                            {{plow}} - {{phigh}}
                                        </td>
                                    </tr>





                                    </tbody>
                                </table>

                            <h4>Per Share Statistics</h4><hr>
                            <table align="center">
                                <tbody>
                                <tr>
                                        <td class="stock-table-label">
                                            Earnings Per Share (2015)

                                        </td>
                                        <td class="stock-table-value">
                                        {{epsRecent |floatformat:2}}
                                        </td>
                                    </tr>
                                 <tr>
                                        <td class="stock-table-label">
                                            Net Current Asset Value:
                                        </td>
                                        <td class="stock-table-value">
                                            {{ncav |floatformat:2}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="stock-table-label">
                                            Net Net working capital
                                        </td>
                                        <td class="stock-table-value">
                                            {{netnet |floatformat:2}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="stock-table-label">
                                            Free Cash Flow Yield

                                        </td>
                                        <td class="stock-table-value">
                                        {{fcfYield |floatformat:2}}
                                        </td>
                                    </tr>


                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-4 col-results">
                            <h4>Analyst Statistics</h4><hr>
                            <table align="center">
                                <tbody>
                                     <tr>
                                        <td class="stock-table-label">
                                            Enterprise Value (EV)
                                        </td>
                                        <td class="stock-table-value">
                                            {{EV |floatformat:2}} M
                                        </td>
                                    </tr>
                                          <tr>
                                        <td class="stock-table-label">
                                        EV/Revenue
                                        </td>
                                        <td class="stock-table-value">
                                            {{evREV |floatformat:2}}

                                        </td>
                                    </tr>
                                         <tr>
                                        <td class="stock-table-label">
                                        EV/EBIT
                                        </td>
                                        <td class="stock-table-value">
                                            {{evEBIT |floatformat:2}}

                                        </td>
                                    </tr>
                                        <tr>
                                        <td class="stock-table-label">
                                        EV/EBITDA
                                        </td>
                                        <td class="stock-table-value">
                                            {{evEBITDA |floatformat:2}}

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <h4>Historical Trends</h4><hr>
                            <div class="row">
                                <div class="col-xs-6">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>EPS</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <tr>
                                              {% for item in eps %}
                                                <tr>
                                                    <td class="stock-results-date">{{ item.0 |date}}</td><td>{{ item.1 |floatformat:2 }}</td>
                                                </tr>
                                           {% empty %}
                                            <span class='help-block'>No EPS data available</span>
                                              {% endfor %}
                                            </tr>
                                          </tbody>
                                    </table>

                                </div>
                                <div class="col-xs-6">
                                     <table>
                                     <thead>
                                      <th>Free Cash Flow</th>
                                     </thead>
                                     <tbody>
                                     <tr>
                                         {% for item in fcf %}
                                            <tr>
                                                <td class="fcf-item"> {{ item |floatformat:2 }}</td>
                                            </tr>
                                       {% empty %}
                                        <span class='help-block'>No FCF data available</span>
                                       {% endfor %}
                                     </tr>

                                     </tbody>
                                 </table>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>


				</div>
        </div>
    {% include 'search/searchcontent.html' %}



</div>



{% endblock %}

