{% extends 'base.html' %}

{% block header_text %}Company discussion{% endblock%}

{% block fact %}

    <div class="page-header">
        <h1><a href="/stocks">Search stocks</a></h1>
    </div>

    <a href="{% url 'valueFact_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>

    {% for valueFact in valueFacts %}
    <div class="post">
        <div class="date">
            <p>published: {{valueFact.published_date}}</p>
        </div>

        <h2><a href="{% url 'valueFact_detail' pk=valueFact.pk %} ">{{valueFact.title}}</a></h2>
        <p>{{ valueFact.text|linebreaks}}</p>
    </div>


    {% endfor %}

{% endblock %}


