<div class="section hero">
    <div class="container-fluid">
        <div class="'row">
            <div class="col-sm-5">
                <h3>The Value Investing Exchange</h3>
                <h5>
                    Research stocks. Make informed investing decisions.  Contribute to the community.
                </h5>
                <a class="button button-primary" href="/register">Sign Up</a>
            </div>
            <div class="col-sm-6 computers">
                <figure>
                    <img class="computer" src="static/assets/images/welcome/viexTest.png">
                </figure>

            </div>
        </div>
    </div><!-- End Container -->
</div><!-- End Section Hero -->

<div class="section ex_hero">
    <div class="container-fluid">
        <div class="row">
            <section class="dark col-sm-5">
					<h4>We are a unique platform geared towards a community of value investors.  By leveraging
                        our community's knowledge base, we aggregate key facts
                    about companies across important topics.  </h4>
				</section>
        </div>
    </div><!-- End container -->
</div><!-- End cool graphic section -->

<div class="section hero-info">
    <div class="container-fluid">
        <h3 class="color1 section-title">How it works</h3>
        <div class="'row">

            <div class="col-md-4">
                <div class="block2">
                    <div class="fa fa-search"></div>
                     <div class="text2 ta__center">
                     <h3 class="text1 ta__center">Search</h3>
                         <p>
                         Take a look at one of the thousands of stocks in our data base.  We provide basic 4 year information
                             that a value investor would be interested in, including margins, earnings trends, enterprise value,
                             and other key ratios.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="block2">
                    <div class="fa fa-group"></div>
                     <div class="text2 ta__center">
                     <h3 class="text1 ta__center">Contribute</h3>
                         <p>
                          We encourage an exchange of information -  if you have done research on a company, why not contribute
                             a fact about the company?  These facts will allow other prospective investors to do their own
                             research on a company.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="block2">
                    <div class="fa fa-comments"></div>
                     <div class="text2 ta__center">
                     <h3 class="text1 ta__center">Review</h3>
                         <p>
                          Review other facts of a company.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End Container -->
</div><!-- End the info section -->

<div class="section login">
    <div class="container-fluid">
        <div class="row">
            <br>
            <h3 class="color2 section-title2">Create Account</h3>
            <div class="row loginBox">
                <div class="loginSocial">
                    <a id="facebook" class="regular-btn btn-social btn-facebook social-login">
		            <i class="fa fa-facebook" style="padding: 2px; color: white;"></i>
		            <span class="mobile-hide">Log in with </span>Facebook
		            </a>

                    <a id="google" class="regular-btn btn-social btn-google social-login">
		            <i class="fa fa-google-plus" style="padding: 2px; color: white;"></i>
		            <span class="mobile-hide">Log in with </span>Google
		            </a>

                </div>
                <div class="row" style="margin-top: 10px;">
                    <label class="label-body" for="valueExchange-agreement">
                        <input id="valueExchange-agreement" class="agreement-checkbox" type="checkbox" style="margin-right:5px;">
                        I agree to
                        <a id="blank" target="_blank" href="/termsandconditions">terms and conditions</a>
                    </label>
                </div>
                <hr class="hr-alt"></hr>
                <form class="std-form std-form-welcome loginBox" role="form" ng-submit="vm.register()"">
                    <div class="form-group">
                        <input type="email" class="form-control" id="register__email" ng-model="vm.email"
                               placeholder="Email" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="register__username" ng-model="vm.username"
                               placeholder="User Name" />
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="register__password" ng-model="vm.password"
                               placeholder="Password" />
                    </div>
                <div class="row" style="margin-top: 10px;">
                    <label class="label-body" for="valueExchange-agreement">
                        <input id="valueExchange-agreement" class="agreement-checkbox" type="checkbox" style="margin-right:5px;">
                        I agree to
                        <a id="blank" target="_blank" href="/termsandconditions">terms and conditions</a>
                    </label>
                </div>
                <div class="form-group tightRow">
                  <button type="submit" class="button button-primary">Sign Up</button>
                </div>

                <a href="/login" class="loginLink">Login to your account</a>
                <p class="disclaimer">Information contained in this website is not Investment Advice.  Please take into consideration
                all risks associated with investing into securities including irrecoverable loss of principal.</p>
                </form>
            </div>
        </div>
    </div>
</div><!-- End signup section -->
