{% extends 'base.html' %}

{% block header_text %}Results for stock {{ticker}}{% endblock %} 

<!-- This is the URL to view the stock data.  rather than stock ID, use the ticker here if able-->
{% block form_action %}{% url 'stock_data_search_display' %}{% endblock %}

{% block table %}
    <table id="id_stock_table" class="table">
        {% for item in eps %}
            <tr>
            	<td>{{ item.0 |date}}</td><td>{{ item.1 |floatformat:2 }}</td>
            </tr>
       {% empty %}
       	<span class='help-block'>No EPS data available</span>
       {% endfor %}

       {% for item in fcf %}
            <tr>
            	<td>FCF {{ item |floatformat:2 }}</td>
            </tr>
       {% empty %}
       	<span class='help-block'>No FCF data available</span>
       {% endfor %}
       <tr>
        <td>NCAV {{ncav |floatformat:2}}</td>
       </tr>
       <tr>
        <td>NNWC {{netnet |floatformat:2}}</td>
       </tr>
    </table>
{% endblock  %}