{% extends "base.html" %}

{% block content %}
<div class="section login-section">
  <div class="container">
    <div class="row">
      <h1 class="color1 section-title">Value Investing Exchange Account</h1>
      <div class="col-md-5 col-md-offset-1">
        <h3>Sign in with your account</h3>


        <div class="well-login">
          <span class="fa fa-user" id="login-title"></span>


          <form action="{% url 'django.contrib.auth.views.login' %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <div class="form-group">
              <input type="hidden" name="next" value="{{ next }}"/>
              <p><input type="submit" class="button button-primary" value="Log In"></p>
            </div>

            <div class="form-group">
              <a href="/faq" class="alignRight">help</a>
            </div>
          </form>

        </div>
          {% if form.errors %}
            <p>Username and password did not match.  Please try again.</p>
          {% else %}
            <p>No account? Please  <a href="{% url 'register' %}" class="loginLink">register here</a></p>
          {% endif %}

          <p><a href="{% url 'django.contrib.auth.views.password_reset' %}">Lost Password?</a></p>



      </div>
      <div class="col-md-5 col-md-offset-1">
        <h3>Log in with Social Media</h3>
            <div class="loginSocial">
                    <a id="facebook" class="regular-btn btn-social btn-facebook social-login"
                    href="{% url "social:begin" "facebook" %}">
		            <i class="fa fa-facebook" style="padding: 2px; color: white;"></i>
		            <span class="mobile-hide">Log in with </span>Facebook
		            </a><br>

                    <a id="google" class="regular-btn btn-social btn-google social-login"
                    href="{% url "social:begin" "google-oauth2" %}">
		            <i class="fa fa-google-plus" style="padding: 2px; color: white;"></i>
		            <span class="mobile-hide">Log in with </span>Google
		            </a><br>

                   <a id="twitter" class="regular-btn btn-social btn-twitter social-login"
                   href="{% url "social:begin" "twitter" %}">
		            <i class="fa fa-twitter" style="padding: 2px; color: white;"></i>
		            <span class="mobile-hide">Log in with </span>Twitter
		            </a>
                </div>

    </div>
  </div>
</div>
{% endblock %}