{% extends "base.html" %}


{% block content %}
<div class="section login-section">
      <div class="container">
       <div class="row">
           <div class="well-welcome">
                <h1>Password Reset Instructions</h1>
               <hr>
                <p>We have sent an email to the address you have provided.  Please follow the instructions to reset your password</p>
                <p>If you do not receive an email, please make sure you've entered the address you registered with.</p>

               </div>
           </div>
          </div>
    </div>
{% endblock %}