{% extends "base.html" %}

{% block content %}
<div class="section login-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
          <div class="well-login well-password">
            <h1>Reset Password</h1>
            <p>Use this form to change your account password</p>
              <p><a href="{% url 'django.contrib.auth.views.password_reset' %}">Lost Password?</a></p>
            <form action="" method="post">
                {{ form.as_p }}
                <p><input type="submit" class="button button-danger" value="Change Password"></p>
                {% csrf_token %}
            </form>
          </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}