<footer role="contentinfo">
    <div class="wrapper">
        <div class="footer-menu">
            <ul >
                <li class="alignRight"><a class="footerLink" href="/browse">Browse Stocks</a></li>
                <li class="alignRight"><a class="footerLink" href="/stocks">Stock Research</a></li>
                <li class="alignRight"><a class="footerLink" href="/welcome">About</a></li>
                <li class="alignRight"><a class="footerLink" href="/faq">FAQ</a></li>
                <li class="alignRight"><a class="footerLink" href="/termsandconditions">Terms and Conditions</a></li>
                <li class="alignRight"><a class="footerLink" href="/+{{ user.username }}/settings">My Account</a></li>
                <li class="alignRight"><a class="footerLink" href="/contact">Contact</a></li>
            </ul>
        </div>
        <div class="about">
            <div class="disclaimer">
                <strong>Disclaimers:</strong> valueInvestingExchange.com is not operated by a broker, a dealer, or a registered investment adviser.
                Under no circumstances does any information posted on valueInvestingExchange.com represent a recommendation to buy
                or sell a security. The information on this site is not intended to be,
                nor does it constitute, investment advice or recommendations.  In no event shall valueInvestingExchange.com be
                liable to any member, guest or third party for any damages of any kind arising out of the use of any
                content or other material published or available on valueInvestingExchange.com, or relating to the use of, or
                inability to use, GuruFocus.com or any content, including, without limitation, any investment losses,
                lost profits, lost opportunity, special, incidental, indirect, consequential or punitive damages.
                Past performance is a poor indicator of future performance.
                The information on this site is in no way guaranteed for completeness, accuracy or in any other way.
                Stock quotes provided
                by Yahoo Finance. Fundamental company data provided by Yahoo Finance, updated quarterly.

            </div>
            <div class="copyright">
                &copy; 2016 The Value Investing Exchange
            </div>

        </div>

    </div>
</footer>