{% load staticfiles %}

<!-- TO DO

1- Get the directory paths right

-->

<script type="text/javascript" src='http://code.jquery.com/jquery.min.js'></script>
<script type="text/javascript" src='/static/stockData.js'></script>

<script type="text/javascript" src='/static/js/navbar/navbar.js'></script>

<script type="text/javascript" src='/static/bower_components/underscore/underscore-min.js'></script>

<script type="text/javascript" src=/static/bower_components/angular/angular.js></script>
<script type="text/javascript" src=/static/bower_components/angular-route/angular-route.js></script>
<script type="text/javascript" src=/static/bower_components/angular-cookies/angular-cookies.js></script>
<script type="text/javascript" src=/static/bower_components/ngDialog/js/ngDialog.js></script>


<script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/static/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>

<!-- added these, keep in case needed later, otherwise delete when deploying -->
<script src="/static/bower_components/json3/lib/json3.min.js"></script>
<script src="/static/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="/static/bower_components/Chart.js/Chart.min.js"></script>

<script type="text/javascript" src='/static/bower_components/snackbar/dist/snackbar.min.js'></script>

<script type="text/javascript" src="/static/js/viex.js"></script>

<script type="text/javascript" src="/static/js/viex.config.js"></script>
<script type="text/javascript" src="/static/js/viex.routes.js"></script>
<script type="text/javascript" src="/static/js/authentication/authentication.module.js"></script>
<script type="text/javascript" src="/static/js/authentication/services/authentication.service.js"></script>
<script type="text/javascript" src="/static/js/authentication/controllers/register.controller.js"></script>
<script type="text/javascript" src="/static/js/authentication/controllers/login.controller.js"></script>

<script type="text/javascript" src="/static/js/layout/layout.module.js"></script>
<script type="text/javascript" src="/static/js/layout/controllers/navbar.controller.js"></script>
<script type="text/javascript" src="/static/js/layout/controllers/stockSearch.controller.js"></script>

<script type="text/javascript" src="/static/js/valueFact/valueFacts.module.js"></script>
<script type="text/javascript" src="/static/js/valueFact/services/valueFacts.service.js"></script>

<script type="text/javascript" src="/static/js/utils/utils.module.js"></script>
<script type="text/javascript" src="/static/js/utils/services/snackbar.service.js"></script>

<script type="text/javascript" src="/static/js/layout/controllers/index.controller.js"></script>

<script type="text/javascript" src="/static/js/layout/utils/navbar.jQuery.js"></script>
<script type="text/javascript" src="/static/js/layout/utils/stocksearch.jQuery.js"></script>

<script type="text/javascript" src="/static/js/valueFact/directives/valueFact.directive.js"></script>
<script type="text/javascript" src="/static/js/valueFact/directives/valueFacts.directive.js"></script>
<script type="text/javascript" src="/static/js/valueFact/controllers/valueFacts.controller.js"></script>
<script type="text/javascript" src="/static/js/valueFact/controllers/new-valueFact.controller.js"></script>

<script type="text/javascript" src="/static/js/profiles/profiles.module.js"></script>
<script type="text/javascript" src="/static/js/profiles/services/profile.service.js"></script>
<script type="text/javascript" src="/static/js/profiles/controllers/profile.controller.js"></script>
<script type="text/javascript" src="/static/js/profiles/controllers/profile-settings.controller.js"></script>

<script type="text/javascript" src="/static/js/aboutfaq/aboutFaq.module.js"></script>
<script type="text/javascript" src="/static/js/aboutfaq/controller/aboutFaq.controller.js"></script>

