{% load staticfiles %}

<!-- TO DO

1- Get the directory paths right

-->

<script type="text/javascript" src='http://code.jquery.com/jquery.min.js'></script>
<script type="text/javascript" src='/static/stockData.js'></script>
<script type="text/javascript" src='/static/js/navbar/navbar.js'></script>




<script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>


<!-- added these, keep in case needed later, otherwise delete when deploying -->
<script src="/static/bower_components/json3/lib/json3.min.js"></script>

<script src="/static/bower_components/Chart.js/Chart.min.js"></script>

<script type="text/javascript" src='/static/bower_components/snackbar/dist/snackbar.min.js'></script>


<script type="text/javascript" src="/static/js/layout/utils/navbar.jQuery.js"></script>
<script type="text/javascript" src="/static/js/layout/utils/stocksearch.jQuery.js"></script>
