
<div>
	<header>
		<a id="cd-logo" class ="logo-link" href="{% url 'home_page' %}">Value Investing Exchange</a>
		<nav id="cd-top-nav">

			<ul>
                {% if request.user.is_authenticated %}
                    <li {% if section == "companies:search_home" %} class="selected" {% endif %}>
						<a href="{% url 'companies:search_home' %}"><span class="fa fa-search"> Search </a></li>
                    <li {% if section == "dashboard" %} class="selected" {% endif %}>
						<a href="{% url 'dashboard' %}"><span class="fa fa-group"></span> {{ request.user.username }}</a></li>
                    <li><a href="{% url 'edit' %}"><span class="fa fa-cogs"></span> My Profile </a></li>
                    <li><a href="{% url 'django.contrib.auth.views.logout' %}" ><span class="fa fa-sign-out"></span> </a></li>

                {% else %}
                    <li><a href="{% url 'django.contrib.auth.views.login' %}">Login</a></li>
                    <li><a href="/account/register">Register</a></li>
				<!-- Remove hardcode URL -->
                {% endif %}
			</ul>

		</nav>
		<a id="cd-menu-trigger" href="#0"></span><span class="cd-menu-icon"></span></a>
	</header>

	<nav id="cd-lateral-nav">
		<ul class="cd-navigation">

			<li class="item-has-children">
				<a href="#0">Stocks &#160;&#160;&#160;<span class="fa fa-chevron-right"></span></a>
				<ul class="sub-menu">
					<li><a href="#0">EBOX</a></li>
					<li><a href="#0">NOV</a></li>
					<li><a href="#0">SLCA</a></li>
					<li><a href="#0">SDRL</a></li>
				</ul>
			</li> <!-- item-has-children -->
		</ul> <!-- cd-navigation -->

		<ul class="cd-navigation cd-single-item-wrapper">
			<li><a href="{% url 'companies:manage_post_list' %}">My Posts</a></li>

		</ul> <!-- cd-single-item-wrapper -->

		<ul class="cd-navigation cd-single-item-wrapper">
			<li><a href="">Browse Stocks</a></li>
			<li><a href="/account/login">Login</a></li>
			<li><a href="/account/register">Register</a></li>
			<li><a href="{% url 'password_change' %}"><span class="fa fa-cogs"></span> Change Password </a></li>
		</ul> <!-- cd-single-item-wrapper -->

		<ul class="cd-navigation cd-single-item-wrapper" >
			<li><a href="/faq" >FAQ</a></li>
			<li><a href="/termsandconditions" target="_blank">Terms &amp; Conditions</a></li>
			<li><a href="/contact">Contact</a></li>

		</ul> <!-- cd-single-item-wrapper -->

		<div class="cd-navigation socials">
			<a class="cd-twitter " href="#0"></a>
			<a class="cd-github cd-img-replace" href="#0"></a>
			<a class="cd-facebook cd-img-replace" href="#0"></a>
			<a class="cd-google cd-img-replace" href="#0"></a>
		</div> <!-- socials -->
	</nav>

</div>