
{% load staticfiles %}

<link href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="/static/css/base.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href='/static/bower_components/snackbar/dist/snackbar.min.css'>

<link rel="stylesheet" href="/static/bower_components/metisMenu/dist/metisMenu.min.css">
<link rel="stylesheet" href="/static/bower_components/angular-loading-bar/build/loading-bar.min.css">

<!-- The Exchange CSS >

<link href="/static/js/dashboard/styles/timeline.css" rel="stylesheet" type="text/css">
<link href="/static/js/dashboard/styles/viex-exchange.css" rel="stylesheet" type="text/css">
<link href="/static/js/dashboard/styles/main.css" rel="stylesheet" type="text/css">

<link rel="stylesheet" href="/static/bower_components/metisMenu/dist/metisMenu.min.css">
<link rel="stylesheet" href="/static/bower_components/angular-loading-bar/build/loading-bar.min.css">
<link rel="stylesheet" href="/static/bower_components/font-awesome/css/font-awesome.min.css" type="text/css"-->
